<% if @errors && @errors.size > 0 %>
	<% @errors.each do |e| %>
		<p>
			<%= e %>
		</p>
	<% end %>
<% end %>

<%= form_for @user, :url=>{:controller=>"users",:action=>"update"} do |f| %>
	<input type="text" name="id" id="id" value="<%= @user.id %>"> <br>
	<%= f.text_field("email") %> <br>
	<%= f.text_field("password") %> <br>
	<%= submit_tag("Update User") %>
<% end %>