<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<% if @msg %>
	<p>
		<%= @msg %>
	</p>
<% end %>

<% if @errors && @errors.size > 0 %>
<% @errors.each do |e| %>
<p>
	<%= e %>
</p>
<% end %>
<% end %>

<!-- <form action="/users/create" method="post">
	<input type="text" name="email" id="email">
	<input type="password" name="password" id="password">
	<input type="submit" value="Save User"/>
</form> -->
<%= form_for :user,:url=>{:controller=>"users",:action=>"create"} do |f| %>
	<%= f.text_field("email") %> <br>
	<%= f.text_field("password") %> <br>
	<%= submit_tag("Save User") %>
<% end  %>