<p id="notice"><%= notice %></p>

<p>
  <strong>History:</strong>
  <%= @about.history %>
</p>

<p>
  <strong>Company:</strong>
  <%= @about.company %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
